.qrack-logo {
    padding-top: 32px;
    text-align: center;
}

.qrack-logo-bottom-text {
    padding-top:8px;
}

/* D3.js: */

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}
  
.link {
    stroke: #aaa;
}
  
.node text {
    stroke:#333;
    cursor:pointer;
}
  
.node circle{
    stroke:#fff;
    stroke-width:3px;
    fill:#555;
}